<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel">
    <p>This is the home content. Welcome to our website!</p>
  </div>
  <div class="tab-pane fade" id="about" role="tabpanel">
    <p>This is the about content. Learn more about us here.</p>
  </div>
  <div class="tab-pane fade" id="services" role="tabpanel">
    <p>This is the services content. Here’s what we offer.</p>
  </div>

  <div class="tab-pane fade" id="easy-payment" role="tabpanel">
    <p>This is the Payment content. Pay Securely!</p>
  </div>
  <div class="tab-pane fade" id="open-data" role="tabpanel">
    <p>This is the Data content. Get to know information!</p>
  </div>
  <div class="tab-pane fade" id="contact-us" role="tabpanel">
    <p>This is the contact content. Get in touch with us!</p>
  </div>
</div>
